 <!DOCTYPE html>
 <html xmlns:th="http://www.thymeleaf.org">
         
              <head>
                <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
              </head>
              <body>
                <h1>Welcome to the Mangatha Game</h1>
               
                <form method="post" action="mang">
             
                  <input type="submit" value="TopCard">
                </form>
                 <p><span th:text="${TopCard}">This is gonna get replaced</span></p>
              </body>
            </html>
 